<form action="/number/reserve" method="post">
    <div class="h4">
        <h4><b>Reserver aqui sua rifa!</b></h4>
    </div>
    <div class="div1">
        
        Quatidade de Rifas:
        
        <div class="qtd">
            <div id="minus">-</div>
            <input type="number" id="value" value="1" name="qtd" min="1" max="10">
            <div id="plus">+</div>
        </div>

    </div>
    
    <div class="namee">
        <input type="text" name="name" id="name" required maxlength="10" placeholder="Nome">
    </div>
    <div class="phone">
        <input type="number" name="phone" id="phone" required placeholder="Número Telefone">
    </div>
    <div class="from">
        Vendido por:
        <select name="select">
            <option value="Leticia">Leticia</option>
            <option value="Riguad">Victor Riguad</option>
            <option value="Iago">Iago</option>
            <option value="Gilsinho">Gilsinho</option>
            <option value="Mayara">Mayara</option>
            <option value="Mariana">Mariana</option>
            <option value="Brasil">Brasil</option>
            <option value="Rafael">Rafael</option>
            <option value="Gustavo">Gustavo</option>
            <option value="Érica Frazão">Erica Frazão</option>
            <option value="Gabriela">Gabriela</option>
            <option value="Bebesso">Bebesson</option>
            <option value="Lisandra">Lisandra</option>
            <option value="Magna">Magna</option>
            <option value="Maria">Maria</option>
        </select>
    </div>

    <div class="button">
    <button>Reservar Número</button>
    </div>
</form>

<div class="list">
    <h4>Lista para sorteio</h4>
    <table border="1" class="table">
        <tr>
            <th>
                Number
            </th>
            <th>
                Nome
            </th>
            <th>
                Contato
            </th>
            <th>
                Responsável
            </th>
        </tr>
        {{#each listar}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.Name}}
            </td>
            <td>
                {{this.Phone}}
            </td>
            <td>
                {{this.From}}
            </td>
        </tr>
        {{else}}

        {{/each}}
    </table>
</div>