
<div class="qtd">
   Quantidade Vendidas: {{countList}}
</div>

<a onclick="create()" class="button">Gerar Relatório</a>


<div class="list">
    <h4>Lista para sorteio</h4>
    <table border="1" class="table">
        <thead>
        <tr>
            <th scope="col">
                Number
            </th>
            <th scope="col">
                Nome
            </th>
            <th scope="col">
                Responsável
            </th>
        </tr>
        </thead>
        {{#each listar}}
        <tbody>
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.Name}}
            </td>
            <td>
                {{this.From}}
            </td>
        </tr>
        </tbody>
        {{else}}

        {{/each}}
    </table>
</div>