
<div class="qtd">
   Quantidade Vendidas: {{countList}}
</div>
<div class="countList">
        <div>
            Iago: {{count.Iago}} 
        </div>
        <div>
            Leticia: {{count.Leticia}}
        </div>
        <div>
            Riguad: {{count.Riguad}}
        </div>
        <div>
            Gilsinho: {{count.Gilsinho}}
        </div>
        <div>
            Mayara: {{count.Mayara}}
        </div>
        <div>
            Mariana: {{count.Mariana}}
        </div>
        <div>
            Brasil: {{count.Brasil}}
        </div>
        <div>
            Rafael: {{count.Rafael}}
        </div>
        <div>
            Gustavo: {{count.Gustavo}}
        </div>
        <div>
            Érica Frazão: {{count.EricaFrazao}}
        </div>
        <div>
            Gabriela: {{count.Gabriela}}    
        </div>
        <div>
            Bebesso: {{count.Bebesso}}
        </div>
        <div>
            Lisandra: {{count.Lisandra}}
        </div>
        <div>
            Magna: {{count.Magna}}
        </div>
        <div>
            Maria: {{count.Maria}} 
        </div>
</div>


<a onclick="create()" class="button">Gerar Relatório</a>


<div class="list">
    <h4>Lista para sorteio</h4>
    <table border="1" class="table">
        <thead>
        <tr>
            <th scope="col">
                Number
            </th>
            <th scope="col">
                Nome
            </th>
            <th scope="col">
                Responsável
            </th>
        </tr>
        </thead>
        {{#each listar}}
        <tbody>
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.Name}}
            </td>
            <td>
                {{this.From}}
            </td>
        </tr>
        </tbody>
        {{else}}

        {{/each}}
    </table>
</div>